#apereka-gesunod {
    position:relative;
    height:175px;
    width:215px;
}
#apereka-gesunod img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;    
    transition: opacity 3s ease-in-out;
}

#apereka-gesunod img.pekodam:hover {
    opacity:0;
  cursor: pointer;
}